p{
    text-align: justify;
}
.col{
    margin-top: 0.5rem;
}
.nav{
    color: aliceblue;    
    border-radius: 1rem;    
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    
}
.nav-item{
    display: inline-flex;
    color: aliceblue;
    font-size: larger;
    align-self: flex-end;
    margin: 1rem;
}
.nav-link{
    color: aliceblue;
}